@font-face{
    font-family: Stalemate-Regular;
    src: url(../fonts/Stalemate-Regular.ttf);
}

@font-face{
    font-family: Myriad-Pro;
    src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}

body{
    font-family: Myriad-Pro;
    background: url("../images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.welcome{
    color: #778C89;
}
.container.login-container{
    margin-top: 20vh;
    width:30%;
    height:50%;
    
    -webkit-animation: fade-in 2s ease-in-out;
    -moz-animation: fade-in 2s ease-in-out;
    animation: fade-in 2s ease-in-out;

}

@keyframes fade-in{
    0%{opacity:0}
    100%{opacity:1}
}

@-moz-keyframes fade-in{
    0%{opacity:0}
    100%{opacity:1}
}

@-webkit-keyframes fade-in{
    0%{opacity: 0}
    100%{opacity: 1}
}

::-webkit-input-placeholder { color:#cccccc !important; }
::-moz-placeholder { color:#cccccc !important; } /* firefox 19+ */
:-ms-input-placeholder { color:#cccccc !important; } /* ie */
input:-moz-placeholder { color:#cccccc !important; }

.container#login{
    width: auto;
/*    height:400px;*/
    
    padding: auto;
}

#login-button,
#signup-button{
    width: 100px !important;
}

.container.signup-container{
    margin-top: 20vh;
    width: 60%;
    height: auto; 
}

.input-group.signup{
    width: 100% !important;
    margin-bottom: 10px;
}

.form-control#inpt-username,
.form-control#inpt-password{
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    background: rgba(0,0,0,0.3) !important;
    color: white !important;
}
.form-control#signup-username,
.form-control#signup-firstname,
.form-control#signup-lastname,
.form-control#signup-password,
.form-control#signup-email{
    -webkit-border-bottom-right-radius: 5px !important;
    -webkit-border-top-right-radius: 5px !important;
    -moz-border-top-right-radius: 5px !important;
    -moz-border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    width: 100% !important;
    background: rgba(0,0,0,0.3) !important;
    color: white !important;
    
}

.input-group-addon#username-addon,
.input-group-addon#password-addon,
.input-group-addon#firstname-addon,
.input-group-addon#lastname-addon,
.input-group-addon#email-addon{
    -webkit-border-bottom-left-radius: 5px !important;
    -webkit-border-top-left-radius: 5px !important;
    -moz-border-top-left-radius: 5px !important;
    -moz-border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    background-color: #666666 !important;
    color: #ffffff !important;
    width: 100px !important;
}

#username{
    width: 100%;
    padding-bottom: 10px;
}
#password{
    width: 100%;
    padding-bottom: 10px;
}

.navbar{
    min-height: 30px !important;
}
.navbar.container-fluid{
    height: 30px !important;
}

.wall{
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    
}

.profile{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    color: #ffffff;
}
#inpt-post{
    height: 80px;
}

textarea{
    resize: none;
}

.button-style{
    float: right;
    width: 70px;
    height: 30px;
    font-size: 100%;
    padding-bottom: auto;
    padding-top: auto;
    background: #333333;
    border-color: #666666;
    border-radius: 5px;
    color: #999999;
}

.button-style:hover{
    color: #ffffff;
    background: #333333;
}

.buttons{
    
    padding-bottom: auto !important;
    padding-top: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-color: #666666 !important;
    border-radius: 5px !important;
    border-color: #022847 !important;
    color: #778C89 !important;
    
    background-image:
    -webkit-gradient(linear, left top, left bottom, from(#022847), to(#155457));
  
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image:
    -webkit-linear-gradient(left, #022847, #155457);

  /* Firefox 3.6 - 15 */
  background-image:
    -moz-linear-gradient(left, #022847, #155457);

  /* Opera 11.1 - 12 */
  background-image:
    -o-linear-gradient(left, #022847, #155457);

  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image:
    linear-gradient(to bottom, #022847 0, #155457 100%);
    
}

.buttons:hover{
    color: #ffffff !important;
    background: #022847;
    opacity: 1;
}

.buttons:focus{
    color: #ffffff !important;
    background: #022847;
    opacity: 1;
}

.buttons.post-comment,
.buttons.post-like{
    margin-left: 5px!important;
    margin-right: 5px !important;
    float: right;
    opcatiy: 1;
}
.likes{
    font-size: 12px !important;
    margin-top: 5px;
    margin-right: 15px !important;
    margin-bottom: 0 !important;
    float: right;
    opacity: 1;
}
.jumbotron{
    background: rgba(99,99,99,0.1) !important;
    border: 1px solid #696969;
    border-radius: 10px !important;
}

.header-trans{
    color: #ffffff !important;
    background-image: none !important;
    background-color: transparent !important;
    background: rgba(0,0,0,0.3) !important;

}

.post-panel{
    color: #ffffff;
    background: transparent;
}